[Unit]
Description=kafka server
After=network.target

[Service]
Type=simple
User=tars
ExecStart=/opt/kafka/bin/kafka-server-start.sh  {{ my_kafka_props }}
WorkingDirectory=/opt/kafka
Restart=on-failure
RestartSec=10s
StandardOutput=file:/var/log/kafka/kafka.out
StandardError=file:/var/log/kafka/kafka.err
LimitNOFILE=800000
Environment=PATH=/usr/bin:/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
