[zookeeper_servers]
%{ for index, instance in zookeeper_instances ~}
${instance.hostname} ansible_host=${instance.ip_address} private_ip=${instance.private_ip} node_id=${index+1}
%{ endfor ~}


[kafka_servers]
%{ for index, instance in kafka_instances ~}
${instance.hostname} ansible_host=${instance.ip_address} private_ip=${instance.private_ip} node_id=${index+1}
%{ endfor ~}