%{ for index, instance in zookeeper_instances ~}
${instance.private_ip} ${instance.hostname}
%{ endfor ~}
%{ for index, instance in kafka_instances ~}
${instance.private_ip} ${instance.hostname}
%{ endfor ~}